<h1>Account Details</h1>
<div class="account-details-container">
  <div class="account-details-heading">Today January 1, 2017</div>
  <div class="account-details-content">
    <div class="summary-content" *ngIf="summary">
      <div class="score-content">
        <div class="summary-score">{{summary.score}}</div>
        <div class="summary-details">
          <div class="summary-text">{{summary.score_text}}</div>
          <div class="summary-numbers">
            <div class="summary-numbers-container">
              <div class="summary-numbers-heading">Avg. Daily Energy Usage</div>
              <div class="avg-daily-energy-usg">
                {{summary.average_daily_energy_usage}}
              </div>
            </div>
            <div class="summary-numbers-container">
              <div class="summary-numbers-heading">Avg. Daily Temperature</div>
              <div class="avg-daily-energy-usg">
                {{summary.average_daily_temp}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="daily-usage-previous-content">
      <div class="daily-usage-heading">Previous Month Daily Energy Usage: December 2016</div>
      <div class="daily-usage-content">
        <canvas #myBarChart height="500" width="100%"></canvas>
      </div>
    </div>
  </div>
</div>
